<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MailMate AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>MailMate AI</h1>
        <p>AI Email Reply Assistant</p>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('history') }}">History</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Team Name: Karem,Soud | Student IDs: 60303920, 60105804
    </footer>
</body>
</html>